.container{
    height: 50vh;
    width:  50vh;
    background-color: bisque;
    display: flex;
    flex-direction: column-reverse;
}
#small{
    height:10vh;
    width:10vh;
    background-color: pink;
}
#myImg{
    width: 50%;
    height: 50%;
    object-fit: cover;
}